<div>
    <form #changePasswordform="ngForm" (ngSubmit)="ChangePassword(changePasswordform)" novalidate>
    <label>Enter Old Password</label>    
    <input class="form-control" type="text"   name="oldPassword" ngModel required >
    <label>Enter new Password</label> 
    <input class="form-control" type="text"  ngModel required name="newPassword" ngModel  >
    <label> Confirm Password</label> 
    <input class="form-control" type="text"   name="confirmPassword" ngModel required >

    <button type="submit" [disabled]="!changePasswordform.valid"> </button>
</form>
</div>