<div class="conatiner">
    <div class="heading">
        <h4></h4>
    </div>
    <div class="loginFormDisplay">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
              </div>

              <div>
                <button type="submit" class="btn btn-primary">Submit</button>

              </div>
              <div class="">
                <button type="button" class="btn btn-light" (click)="showModal()">forgotPassword?</button>
 
              </div>
        </form>
    </div>
</div>

<asl-google-signin-button ></asl-google-signin-button>

<div *ngIf="user">
<img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>
</div>
  