<div class="container">
    <div class="heading">
        <h4>Login</h4>
    </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input  matInput [type]="showPassword ? 'password' : 'text'" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
              </div>
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility_off':'visibility'}}
            </mat-icon>
              <div class="submit_button">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" >Submit</button>
              </div>
              <div class="forget">
                <button type="button" class="btn"  style="border: none; color: blue;"  (click)="showModal()">forgotPassword?</button>
              </div>
              <div class="social-login">
              <asl-google-signin-button ></asl-google-signin-button>
            </div>
        </form>
    </div>

  