
<app-navbar [currentUser]= "currentUserName"></app-navbar>
<div class="nav flex-row">
  <div>
    <input class="form-control me-2 search-bar" type="text" placeholder="Search" aria-label="Search" (keyup)="getUser($event)">
    <div *ngFor="let user of userArray">
      <button (click)="getUserMessage(user)" > {{user.firstName+"  "+ user.lastName}}</button>

    </div>
  </div>
  <div>
    <app-sendMessage [data]="selectedUserdata" [onlineUser]="currentUserEmail"></app-sendMessage>
  </div>
</div>
  