<div>
    <div class="toast show-toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto"> Message </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            You received a new message from {{clientName}}
        </div>
    </div>
    <div class="container container-fluid px-1 py-5 mx-auto chat-display">
        <div class="row justify-content-between text-left "></div>
        <div class="col-sm-12 flex-row d-flex justify-content-center">
            <h2> {{dataOfMessage['firstName']}}</h2>
        </div>
        <div class="overflow-auto message-display" #msgBox id="msgBox" [scrollTop]="msgBox.scrollHeight" infinite-scroll  [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolledUp)="onScrollUp()"
        [scrollWindow]="false" >
            <div *ngFor="let msg of msgArray">
                <div *ngIf="(msg.senderEmail === currentUser) ">
                    <div *ngIf="(msg.type === 1) ">
                        <ul class="sender">   
                            <li> {{msg.message}} <p> {{msg.dateTime | date : 'medium'}}</p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="(msg.type === 2)">
                         <img [src]=msg.fileUrl alt="No image to show" class="sender" style=" width: 400px; height: 200px;">
                    </div>

                    <div *ngIf="(msg.type === 3) ">
                        <div class="sender send_file">
                        <iframe [src]="msg.fileUrl | safe:'resourceUrl'"style="width: 400px; height: 100px;"> </iframe>
                        <p> {{msg.dateTime | date : 'medium'}}</p>
                    </div>
                    </div>
                </div>
                <div *ngIf=" (msg.senderEmail === dataOfMessage['email'])">
                    <div *ngIf="(msg.type === 1) ">
                        <ul class="reciever">
                            <li> {{msg.message}} <p> {{msg.dateTime | date : 'medium'}}</p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="(msg.type === 2) ">
                                <img [src]=msg.fileUrl alt="No image to show" class="reciever"
                                    style=" width: 400px; height: 200px;">
                    </div>
                    <div *ngIf="(msg.type === 3) ">
                        <div class="reciever recieve_file">
                            <a mat-icon-button [href]="msg.fileUrl | safe:'resourceUrl'" [download]="msg.fileUrl" title="download pdf" target="_blank"><mat-icon inline>get_app</mat-icon> Download pdf{{fileUpload}}</a>
                                <!-- <iframe [src]="msg.fileUrl | safe:'resourceUrl'"  style="width: 400px; height: 100px;" > </iframe> -->
                                <p> {{msg.dateTime | date : 'medium'}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="textArea">
            <input type="text" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="message"
                (keyup.enter)="sendMsg(type)">
            <input type="file" hidden id="img" #img accept="image/*" (change)="uploadImage($event)">
            <input type="file" hidden id="file" #file (change)="uploadFile($event)">
            <button class="" (click)="img.click()">image</button>
            <button class="" (click)="file.click()">file</button>
            <button type="button" class="btn" (click)="sendMsg(type)"> </button>
        </div>
    </div>
