<div class="conatiner">
  <div class="heading">
    <h3>SignUp here</h3>
  </div>
  <div class="alert alert-danger" *ngIf="messageShow" role="alert">
    {{message}}
  </div>
  <div class="formDisplay">
    <form [formGroup]="registrationForm" (ngSubmit)="resgisterUser()"  class="frm">
      <div class="input-field form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" [class.is-invalid]="controls['firstName'].invalid && controls['firstName'].untouched"/>
        <div class="alert alert-danger" *ngIf="controls['firstName'].invalid && controls['firstName'].touched">
          Name is required
        </div>
      </div>
      <div class="input-field form-group">
          <label>Surname</label>
          <input type="text" formControlName="lastName" [class.is-invalid]=" controls['lastName'].invalid && controls['lastName'].untouched "/>
          <div class="alert alert-danger" *ngIf="controls['lastName'].invalid && controls['lastName'].touched">
            Name is required
          </div>
        </div>
      <div class="input-field form-group">
          <label>Email</label>
          <input type="email" formControlName="email" [class.is-invalid]="controls['email'].invalid && controls['email'].untouched "/>
          <div class="alert alert-danger" *ngIf="controls['email'].errors && controls['email'].errors['pattern']" >
            <p>PLease Enter a valid Email-Id</p>
          </div>
        </div>
      <div class="input-field form-group">
          <label>Phone</label>
          <input type="text" formControlName="PhoneNo" [class.is-invalid]=" controls['PhoneNo'].invalid && controls['PhoneNo'].untouched " oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
          <div class="alert alert-danger" *ngIf="  controls['PhoneNo'].errors && controls['PhoneNo'].errors['pattern'] " >
            <p>PLease Enter a valid Contact Number</p>
          </div>
        </div>

      <div class="input-field form-group">
          <label>DOB</label>
          <input type="date" formControlName="dateOfBirth"  [class.is-invalid]=" controls['dateOfBirth'].invalid && controls['dateOfBirth'].untouched"/>
        </div>

      <div class="input-field form-group">
          <label>Password</label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" [class.is-invalid]=" controls['password'].invalid && controls['password'].untouched  "/>
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
          <div class="alert alert-danger" *ngIf="controls['password'].errors && controls['password'].errors['pattern'] ">
            <p>
              Password must contain more than 8 characters, 1 upper case letter, and
              1 special character
            </p>
          </div>
        </div>
      <div>
        <button type="submit" [disabled]="registrationForm.invalid">
          Submit
        </button>
      </div>

      <div >
        <label>Already Have a account ? click to login</label>
        <button type="button" (click)="Go_To_login()">LogIn</button>
      </div>
  </form>

