<div class="container container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
    <h1  class="text-center mb-4 ">SignUp</h1>
  <div class="alert alert-danger" *ngIf="messageShow" role="alert">
    {{message}}
  </div>
  <div class="formDisplay card">
    <form [formGroup]="registrationForm" (ngSubmit)="resgisterUser()"  class="frm form-card">
      <div class="row justify-content-between text-left">
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
        <label class="form-control-label px-3">First Name<span class="text-danger"> *</span></label>
        <input type="text" formControlName="firstName" [class.is-invalid]="controls['firstName'].invalid && controls['firstName'].untouched"/>
        <small class="alert alert-danger" role="alert" *ngIf="controls['firstName'].invalid && controls['firstName'].touched">
          Name is required
        </small>
      </div>
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
          <label  class="form-control-label px-3" >Surname <span class="text-danger"> *</span></label>
          <input type="text" formControlName="lastName" [class.is-invalid]=" controls['lastName'].invalid && controls['lastName'].untouched "/>
          <small class="alert alert-danger" role="alert" *ngIf="controls['lastName'].invalid && controls['lastName'].touched">
            Name is required
          </small>
        </div>
        </div>
        <div class="row justify-content-between text-left">
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
          <label  class="form-control-label px-3" >Email<span class="text-danger"> *</span></label>
          <input type="email" formControlName="email" [class.is-invalid]="controls['email'].invalid && controls['email'].untouched "/>
          <small class="alert alert-danger" role="alert" *ngIf="controls['email'].errors && controls['email'].errors['pattern']" >
            PLease Enter a valid Email-Id
          </small>
        </div>
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
          <label  class="form-control-label px-3" >Phone <span class="text-danger"> *</span></label>
          <input type="text" formControlName="PhoneNo" [class.is-invalid]=" controls['PhoneNo'].invalid && controls['PhoneNo'].untouched " oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
          <div class="alert alert-danger" role="alert" *ngIf="controls['PhoneNo'].errors && controls['PhoneNo'].errors['pattern'] " >
            PLease Enter a valid Contact Number
          </div>
        </div>
      </div>
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
          <label  class="form-control-label px-3">DOB <span class="text-danger"> *</span></label>
          <input type="date" formControlName="dateOfBirth"  [class.is-invalid]=" controls['dateOfBirth'].invalid && controls['dateOfBirth'].untouched"/>
        </div>
        <div class="row justify-content-between text-left">
      <div class="input-field form-group  col-sm-6 flex-column d-flex">
          <label  class="form-control-label px-3" >Password <span class="text-danger"> *</span> </label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" [class.is-invalid]=" controls['password'].invalid && controls['password'].untouched  "/>
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
        </div>
        <small class="alert alert-danger" role="alert" style=" float: right;" *ngIf="controls['password'].errors && controls['password'].errors['pattern'] ">
            Password must contain more than 8 characters, 1 upper case letter, and
            1 special character
        </small>
      </div>
      <div  class="row justify-content-end">
        <button type="submit" [disabled]="registrationForm.invalid">
          Submit
        </button>
      </div>

      <div >
        <label class="form-control-label px-3">Already Have a account ?</label>
        <button type="button" (click)="Go_To_login()">LogIn</button>
      </div>
  </form>
  </div>
  </div>
  </div>